<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Tempo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Tempo">
    <meta name="application-name" content="Tempo">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#1c1917">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- PWA manifest -->
    <link rel="manifest" href="/manifest.json">

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.tsx' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
